@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-item .nav-link {
  cursor: pointer;
}

.auth-form {
  margin-top: 30px;
}

.tag-badge {
  padding: 3px 8px 5px 8px;
  line-height: 1em;
  float: right;
}

.tag-badge + .tag-badge {
  margin-right: 5px;
}

.ti-selected-item {
  background: #007bff !important;
}

.tag-input {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.ti-input {
  border: none !important;
}

.ti-tag,
.badge-task {
  color: #fff;
  background-color: #888 !important;
}

.vue-tags-input {
  max-width: 100% !important;
}

nav {
  border-bottom: 1px solid #dfdfdf;
}

.task-status {
  font-size: 24px;
  line-height: 14px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.btn-edit {
  float: right;
  background: #fff;
}

.priority-icon {
  color: #fff;
  font-size: 24px;
  line-height: 14px;
  position: relative;
  top: 3px;
  left: -6px;
}

.priority-icon.mdi-numeric-1-circle {
  color: #1e7e34;
}

.priority-icon.mdi-numeric-2-circle {
  color: #50a3ff;
}

.priority-icon.mdi-numeric-3-circle {
  color: #909090;
}

.no-tasks {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
  color: #777;
}

.badge-task {
  color: #777;
  background-color: #eee !important;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #999;
}

.task-left {
  position: relative;
  top: 3px;
}

.modal-body {
  margin-top: 0;
  margin-bottom: 0;
}

